* {
	box-sizing: border-box;
}

a, a:active, a:focus{
	outline: none;
}

i {
  font-size: 32px;
}

#login_form {
	width: 220px;
}

#master {
	display: grid;
	height: 100vh;

	grid-template-rows: auto 1fr;
}

#content {
	min-height: 0;
	padding: 16px;
}

#chat {
	display: grid;
	height: 100%;
	grid-template-rows: 1fr auto;
}

#chatlog>div {
	padding: 8px;
}